 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'League Spartan', sans-serif;
}
body{
    background: url(./images/bg-pattern-top-mobile.svg),url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center,bottom center;
}
.container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .head-rating{
    text-align: center;
  }
.heading{
    color: hsl(300, 43%, 22%);
    text-align: center;
    margin-top: 35px;
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
    width: 375px;
}
h2{
    width: 320px;
    text-align: center;
    padding: 0 0 0 10px;
    margin: 0 0 20px 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color:  hsl(303, 10%, 53%);
}
.ratings{
    padding: 0 10px;
    width: 320px;
    text-align: center;
    margin: 30px;
}
.rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
}
.ratingText{
    font-size: 16px;
    font-weight: 600;
    color: hsl(300, 43%, 22%);
}
.stars{
    display: flex;
    justify-content: center;
}
.star{
    margin: 5px;
}
.reviews{
    font-size: 10px;
    width: 300px;
}
.review {
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }
.review p{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    line-height: 20px;
}
.image-txt{
    width: 155px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content:space-between; 
    align-items: center;
}
.image-txt > img{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.details p{
    color: hsl(333, 80%, 67%);
    font-size: 12px;
    font-weight: normal;
}
.details > h3{
    font-size:medium;
    line-height: 20px;
} 

 /* @media (min-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-family: 'League Spartan', sans-serif;
    }
    .container {
        background-color: hsl(0, 0%, 100%);
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        padding: 40px;
      }
    .head-rating{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1300px;
      }

    .heading{
        color: hsl(300, 43%, 22%);
        text-align: start;
        margin: 35px 0 0 90px;
        font-size: 55px;
        font-weight: 600;
        padding: 20px;
        width: 400px;
    }
    .sub-heading{
        font-size: 20px;
        height: 80px;
        margin-left: 100px;
        margin-top: 0;
        text-align: start;
    }
    h2{
        width: 450px;
        text-align: center;
        padding: 0 0 0 10px;
        margin: 0 0 20px 25px;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        color:  hsl(303, 10%, 53%);
    }
    .ratings{
        width: 700px;
        height: 250px;
        position: relative;
        margin-top: 40px;
    }
    .rating{
        padding: 0 20px 0 20px;
        width: 500px;
        height: 70px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: hsl(300, 24%, 96%);
        position: absolute;
    }
    .rating1{
        top: 0;
        left:0;
    }
    .rating2 {
        right: 15%;
        top: 35%;
    }
    .rating3 {
        right: 0;
        top: 69%;
    }
    .ratingText{
        font-size: 20px;
        font-weight: 600;
        color: hsl(300, 43%, 22%);
    }
    .stars{
        font: 20px;
        display: flex;
        justify-content: center;
    }
    .star{
        margin: 5px;
    }
    .reviews{
        margin: 0 0 0 65px;
        font-size: 10px;
        width: 1150px;
        height: 350px;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .review {
        background-color: hsl(300, 43%, 22%);
        color: hsl(0, 0%, 100%);
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        padding: 35px;
        margin-top: 20px;
        width: 350px;
        height: 250px;
        position: absolute;
      }
    .review .reviewText{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        line-height: 20px;
    }
    .review1{
        top: 0;
        left: 0;
    }
    .review2 {
        top: 4%;
        left: 35%;
    }
    .review3 {
        top: 8%;
        right: 0%;
    }
    .image-txt{
        width: 155px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        justify-content:space-between; 
        align-items: center;
    }
    .image-txt > img{
        border-radius: 100px;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    .details p{
        color: hsl(333, 80%, 67%);
        font-size: 12px;
        font-weight: normal;
    }
    .details > h3{
        font-size:medium;
        line-height: 20px;
    }
  } */
